body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9e5c4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2f4f4f; /* Dark Slate Gray */
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

img.center {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}
